.promo__title {
    font-family: 'Yandex Sans Display Bold';
    font-size: 40px;
    line-height: 122.5%;
    color: #000000;
    max-width: 380px;
    margin: 0;
}

.promo__title span{
    font-size: 30px;
}

.promo{
    position: relative;
    background-color: #F0F0F0;
}
.promo__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 115px 0;
}

.promo__descr {
    padding: 0;
    margin-top: 30px;
    font-family: 'Yandex Sans Display Light';
    font-size: 18px;
    line-height: 160%;
}

.promo__btn {
    margin-top: 42px;
    font-family: 'Yandex Sans Display Regular';
    font-size: 18px;
    line-height: 107%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #000000;
    background: #FFDF39;
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    width: 267px;
    height: 43px;
}

.promo__btn:hover {
    background: #fad82e;
    color: #000000;
}


.promo__img {
    width: calc(50vw + 50px);
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}