.contacts{
    padding: 141px 0 118px;
}

.contacts__items {
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    column-gap: 9px;
    row-gap: 33px;
    margin-top: 59px;
    margin-left: 50px;
}

.contacts__soc-icon-whatsup{
    max-width: 19px;
    max-height: 21px;
}

.contacts__soc-icon-viber{
    max-width: 19px;
    max-height: 21px;
    transform: rotate(23.73deg);
}

.contacts__item-link {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'Yandex Sans Display Regular';
    font-size: 16px;
    line-height: 107%;
    color: #000000;
}

.contacts__item span {
    color: #8B8B8B;
    font-size: 14px;
    font-family: 'Yandex Sans Display LighT';
    line-height: 107%;
    margin-top: 5px;
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
}

.contacts__link_disable {
    display: flex;
    flex-direction: column;
}

.contacts__link-map {
    position: absolute;
    font-family: 'Yandex Sans Display LighT';
    font-size: 12px;
    line-height: 107%;
    text-decoration-line: underline;
    color: #8B8B8B;
    margin: 0 auto;
    bottom: -20px;
}
